*{
    margin: 0;
    padding: 0;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
nav{
    display: flex;
    justify-content: space-between;
    padding-left:4rem;
      
}
nav img{
    height:2.5rem;
    padding:2rem;
}
.nav-items{
    display: flex;
   
}
.nav-item{
    margin: 2rem;
    font-size:1.2rem;
}
.active-item{
color: orangered;
/* font-weight: 900; */
}
/* ---------------------------------------------------------- */
.intro-section{
    display: flex;
}
.right-section{
      text-align: center;
}
.headphone-div img:nth-last-child(1){
    height:390px;
    padding-left:2.2rem;
}
.discount-content,.discount{
    position: absolute;
    margin-top:14rem;
}
 .discount{
    height: 7rem;
}
.discount-content{
    padding-top: 2rem;
    margin-left:2rem;
    color: white;
}
.headphone-div{
display: flex;  
}
.dots{
  display: flex;
  justify-content: center;
  padding-left:2.5rem;
  margin-bottom:1.5rem;
}
 .dot {
height:25px;
width: 25px;margin: 1rem;
border-radius: 50%;
}
.yellow-dot{
    background-color: yellow;
}
.tomato-dot{
    background-color: tomato;
}
.black-dot{
    background-color: black;
}
button{
    padding: 1rem 2rem;
    border: none;
    color: white;
    font-size: large;
    margin-left: 2.5rem;
    border-radius:2rem;
    background-color: orangered;
}
/* ------------------------------------------------------------------- */
.left-section{
    padding-left:5rem;
    width:650px;
    float: left;
}
h3{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top:3rem ;
}
h3 img{
    height:30px;
}
.left-section h1{
    font-size:4rem;
    font-family: "Fredoka One";
    
}
.sub-headline{
    
    font-size: 20px;
    margin:1rem;
    
}
.sub-headline img{
    background-color:orangered;
    padding: .2rem;
    border-radius: 2rem;
    margin-right: 1rem;
    height: 1rem;
}
.text{
    color: rgb(141, 140, 140);
    margin:3rem 1rem;
}